@model FileManager.Models.FileInformation



<div class="col-12 row">
    <div class="col-6">
        <div class="border p-3 row">
            <div class="col-12 pb-2">
                <h1 class="text-success">File Details</h1>
                <hr />
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.UploadDate)
                <br />
                @Html.DisplayFor(model => model.UploadDate)
            </div>
          
            <div class="col-3">
                @Html.LabelFor(model => model.Sectionoforigin)
                <br />
                @Html.DisplayFor(model => model.Sectionoforigin)
            </div>
            <div class="mb-3 col-3">
                @Html.LabelFor(model => model.Department)
                <br />
                @Html.DisplayFor(model => model.Department)
            </div>
            <div class="mb-3 col-3">
                @Html.LabelFor(model => model.Addressee)
                <br />
                @Html.DisplayFor(model => model.Addressee)
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.Receivedby)
                <br />
                @Html.DisplayFor(model => model.Receivedby)
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.Filename)
                <br />
                @Html.DisplayFor(model => model.Filename)
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.Filenumber)
                <br />
                @Html.DisplayFor(model => model.Filenumber)
            </div>
            <div class="mb-3 col-12">
                @Html.LabelFor(model => model.Subject)
                <br />
                @Html.DisplayFor(model => model.Subject)
            </div>
            <div class="mb-3 col-3">
                @Html.LabelFor(model => model.Pages)
                <br />
                @Html.DisplayFor(model => model.Pages)
            </div>

            <div class="mb-3 col-3">
                @Html.LabelFor(model => model.Status)
                <br />
                @Html.DisplayFor(model => model.Status)
            </div>
           
            <div class="col-3">
                @Html.LabelFor(model => model.Pdfdirectory)
                <br />
                @Html.DisplayFor(model => model.Pdfdirectory)
            </div>
            
            <div class="mb-3 col-10 pt-4">
                <input class="btn btn-secondary" type="button" title="Back To Index" value="Back To Index" onclick="location.href = '/FileInformation/Index'" />
            </div>
        </div>

    </div>
    <div class="col-6">
        @*<iframe src="~/Downloads/@Model.Pdfdirectory#toolbar=0" style="width:800px;height:900px"></iframe>*@
        <iframe src="~/Downloads/File/@Model.Pdfdirectory" style="width:800px;height:900px"></iframe>
    </div>
</div>